.registration {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  background-color: #373b3e;

  
  &__text {
    color:azure
  }

  &__button {
    cursor: pointer;

    
  }

}