.registration {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 8vh;
  
  &__text {
    margin: 0 2vw;
    color:azure
  }

  &__button {
    cursor: pointer;

    
  }

}